@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-glow-red {
    text-shadow: 0 0 10px #ff0000, 0 0 20px #8a0000;
  }
}

body {
    background-color: #0a0a0a;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}
